{% extends "base.html" %}

{% load static from staticfiles %}

{% block head_title %} Zacharilius - Resume{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static  "resume/css/resume.css" %}">
{% endblock %}

{% block content %}
<div class = "resume-container">
	<div class="jumbotron">
		<div class="title-container">
		    <h2 class="resume-title">Zachary Bensley</h1>
		    <h3 class="resume-subtitle">Full Stack Developer</h3>	    
	    </div>
		<div class = "resume-section-container">
			<h3 class = "resume-header">Education</h3>
			<div class = "resume-section-indent-container">
				<h4>Master of Science in Applied Computer Science, Frostburg State University, May 2015</h4>
				<ul>
					<li>4.0 GPA</li>
					<li>Graduate Assistantship</li>
				</ul>
			</div>
			<div class = "resume-section-indent-container">
				<h4>Bachelor of Science - Frostburg State University, May 2011</h4>
				<ul>
					<li>Recipient President’s Merit Scholarship</li>
					<li>National Fraternity - President: won eight awards locally and nationally including “Greek Organization of the Year” and Nationally the “Outstanding Service Award”</li>
					<li>3.7 GPA, Magna Cum Laude</li>
				</ul>
			</div>		
		</div>
		<div class = "resume-section-container">
			<h3 class = "resume-header">EMPLOYMENT</h3>
			<div class = "resume-section-indent-container">
				<h4>Full Stack Developer - Tech Smart Kids, Oct. 2015 - Present</h4>
				<ul>
					<li>Work on portal team to create a course management system for teaching python to middle school students. </li>
					<li>Specifically, I worked creating an in-browser IDE, course gradebook, andturning in assignments</li>
				</ul>
			</div>			
			<div class = "resume-section-indent-container">
				<h4>Graduate Teaching Assistant - State University, Jan 2014 – May 2015</h4>
				<ul>
					<li>Sole instructor: Introduction to Computer Science. Assist teaching: Discrete Math, Network Implementation, Introduction to Computer Science, and PHP Programming</li>
				</ul>
			</div>
			<div class = "resume-section-indent-container">
				<h4>GIS Analyst- Energy Company, LLC, Jan 2011 - Dec 2013</h4>
				<ul>
					<li>Create reserve studies, reports, log drilling & quality data, 3D geologic structure maps, and 		creating & managing geodatabase</li>
					<li>National Fraternity - President: won eight awards locally and nationally including “Greek Organization of the Year” and Nationally the “Outstanding Service Award”</li>
				</ul>
			</div>		
		</div>
		<div class = "resume-section-container">
			<h3 class = "resume-header">TECHNICAL SKILLS</h3>
			<div class = "resume-section-indent-container">
				<h4>Frontend</h4>
				<ul>
					<li>Javascript, JQuery, CSS3, D3, </li>
				</ul>
			</div>
			<div class = "resume-section-indent-container">
				<h4>Backend</h4>
				<ul>
					<li>Python 3, Django 1.7-1.9, Java, </li>
				</ul>
			</div>
			<div class = "resume-section-indent-container">
				<h4>Database</h4>
				<ul>
					<li>MySQL, PostgreSQL, and Oracle 11g</li>
				</ul>
			</div>		
			<div class = "resume-section-indent-container">
				<h4>Dev Ops</h4>
				<ul>
					<li>AWS, DigitalOcean, Heroku, Jenkins, Tomcat, NGINX</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<a download="zachary_bensley_resume.pdf" href="{% static "resume/downloads/zachary_bensley_resume.pdf" %}">
	<button id="resume-github"class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
		<i class="material-icons">file_download</i>
	</button>
</a>

{% endblock %}

{% block body_js %}
<script src="{% static  "resume/js/resume.js" %}"></script>

{% endblock %}


