{% extends "base.html" %}

{% load static from staticfiles %}

{% load leaflet_tags %}

{% block head_title %} Zacharilius - Maps {% endblock %}

{% block head_css %}

	<link rel="stylesheet" href="{% static  "maps/css/maps.css" %}">
	{% leaflet_css %}

{% endblock %}

{% block head_js %}

	{% leaflet_js %}

{% endblock %}


{% block content %}
	<div id="map-intro">
		<h2 class="intro-text">Select a Map</h2>
		<div class="button-container">
			<button id="show-us-map-container" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
	  			US Map
			</button>
		</div>
	</div>
	<div id="us-map-container">
		<h2 class="intro-text">United States</h2>
		<div class="button-container">
			<button id="start-us-state-map-quiz" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
	  			Start State Quiz
			</button>
		</div>
		<div class="us-map-quiz-status">
			<p class="quiz-info">Click <span id='quiz-state'></span></p>		
			<p class="quiz-info">Correct: <span id='quiz-correct'></span></p>
			<p class="quiz-info">Incorrect: <span id='quiz-incorrect'></span></p>
			<p class="quiz-info">Total <span id='quiz-total'></span></p>
		</div>

		<div class="map">
			<!-- Map is appended here -->
		</div>

		<span id="state-tooltip"></span>
	
		<div class="wikipedia-search-container">
			<div id="wikipedia-us-state-search-results">
			</div>
		</div>
	</div>

{% endblock %}

{% block body_js %}
<!-- Library JS -->
<script src="{% static "lib/d3/d3.min.js" %}"></script>
<script src="{% static "lib/topojson/topojson.js" %}"></script>

<!-- Site JS -->
<script>
	window.usStateMapUrl = "{% static "maps/json/us_states.json" %}";
	window.worldMapUrl = "{% static "maps/json/world_50.json" %}";
	window.starbucksUrl = "{% static "maps/json/starbucks.json" %}";
 </script>

 <script src="{% static  "maps/js/maps.js" %}"></script>

{% endblock %}

