

#state-tooltip {
  background-color: #FFFFFF;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  font-family: Roboto;
  font-size: 16px;
  cursor: pointer; /* So the cursor will stay as a pointer above states */
  border-radius: 10px;
  padding: 5px;
}




/* -------------------------------------------------------------------------- */
/* Intro */

#map-intro .intro-text {
  text-align: center;
}

#map-intro .button-container {
  text-align: center;
}

#map-intro button {
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/* US State */

#us-map-container {
  display: none;
}

#us-map-container .intro-text {
  text-align: center;
}

#us-map-container .button-container {
  text-align: center;
}

#us-map-container svg {
  display: block;
  margin: 0 auto;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}

.state {
  cursor: pointer;
}

.state:hover {
  opacity: .8;
}

.wikipedia-search-container {
  padding: 20px;
}

.wikipedia-search-container a {
  text-decoration: none;
}

.wikipedia-search-container p {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #232323;
}

/* -------------------------------------------------------------------------- */
/* World Starbucks Map */

.land {
  fill: #222;
}

.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
