.resume-container {
    margin: 0 auto;
    padding: 10px 120px 10px 120px;
    padding-right: 120px;
}

.resume-section-container {

}

.resume-header {
}

.resume-section-indent-container {
    margin-left: 60px;
}
