.resume-container {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .resume-container {
        max-width: 730px;
    }
}

@media (min-width: 1200px) {
    .resume-container {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .resume-container {
        width: 970px;
    }
}

.jumbotron {
    position: relative;
    padding: 24px;
}

#resume-github {
    position: fixed;
    bottom: 64px;
    right: 64px;
}

.resume-title, .resume-subtitle {
    text-align: center;
}

.resume-section-container {

}

.resume-header {
}

.resume-section-indent-container {
    margin-left: 60px;
}
