.project-card {
    border-color: transparent;
}

.project-card-inner-container {
    background-color: var(--bs-card-bg);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.project-card-icons svg {
    width: 32px;
    height: 32px;
}
