/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Site colors */
/*
.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Site */
html {
	height: 100%;
}

body {
  font-family: Pacifo, sans-serif;
  background-color: #FFFFFF;
  color: #232323;
  overflow-y: scroll;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Navigation */
nav {
	padding-top: 10px;
	background-color: #00796B;
}

.
.navbar-default {
    background-color: transparent;
}
.navbar {
    border-bottom: 1px solid #FFC107;
}
.nav-buttons {
	position: fixed;
	top: 1%;
	right: 1%;
}
.icon {
	color: #FFFFFF;
	font-size: 35px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}


/* Tooltip */
.tooltip-message + .tooltip > .tooltip-inner {
    background-color: transparent; 
    color: #FFFFFF; 
    padding-bottom: 0px;
    font-size: 20px;
}
/* Tooltip on top */
.tooltip-message + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid transparent;
}
/* Tooltip on bottom */
.tooltip-message + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid transparent;
}
a:focus, a:hover {
    text-decoration: none;
}

#projects:hover, #projects:focus, #projects.is-active {
	color:#FFC107;
}
#github:hover, #github:focus{
	color:#6D3353;
}
#codepen:hover, #codepen:focus{
	color:#000;
}
#home:hover, #home:focus, #home.is-active {
	color:#B91787;
}
#linkedin:hover, #linkedin:focus{
	color: #1985BC;	
}
#instagram:hover, #instagram:focus{
	color:#F15E5E;
}
#skype:hover, #skype:focus{
	color:#00AFF0;
}
#googleplus:hover, #googleplus:focus{
	color:#DC4937;
}
#resume:hover, #resume:focus, #resume.is-active {
	color:#F6590C;
}
#earth:hover, #earth:focus, #earth.is-active {
	color:#73d216;
}
.square-instagram:hover, .square-instagram:focus{
	background:#FFFFFF;
}
.square-linkedin:hover, .square-linkedin:focus{
	background: #FFFFFF;	
}
.square:hover, .square:focus, .square {
	width: 35px;
	height: 35px;
	-moz-border-radius: 25%;
	-webkit-border-radius: 25%;
	border-radius: 25%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.map-circle:hover, .map-circle:focus, .active .map-circle{
	background: #2072C9;
}
.circle:hover, .circle:focus, .circle .is-active {
	width: 35px;
	height: 35px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
