/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Site colors */
/*
.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Site */
html {
	height: 100%;
}

body {
  font-family: Pacifo, sans-serif;
  background-color: #FFFFFF;
  color: #232323;
  overflow-y: scroll;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Navigation */

header {
	background-color: #00796B !important;
}

nav .mdl-navigation__link {
	border-bottom: 5px solid transparent;
}

nav .is-active {
    opacity: 1;
    border-bottom: 5px solid rgb(255,171,64);
    height: 64px;
}

.nav-top .icon {
	font-size: 35px;
	color: #FFFFFF;
}

.nav-drawer .icon {
	font-size: 25px;
	color: #757575;
}

.nav-github:hover, .nav-github:focus {
	color:#6D3353;
}

.nav-codepen:hover, .nav-codepen:focus {
	color:#000;
}

.nav-linkedin:hover, .nav-linkedin:focus {
	color: #00AFF0;	
}

.nav-instagram:hover, .nav-instagram:focus {
	color:#F15E5E;
}





#projects:hover, #projects:focus, #projects.is-active {
	color:#FFC107;
}
#github:hover, #github:focus{
	color:#6D3353;
}
#codepen:hover, #codepen:focus{
	color:#000;
}
#home:hover, #home:focus, #home.is-active {
	color:#B91787;
}
#linkedin:hover, #linkedin:focus{
	color: #1985BC;	
}
#instagram:hover, #instagram:focus{
	color:#F15E5E;
}
#skype:hover, #skype:focus{
	color:#00AFF0;
}
#googleplus:hover, #googleplus:focus{
	color:#DC4937;
}
#resume:hover, #resume:focus, #resume.is-active {
	color:#F6590C;
}
#earth:hover, #earth:focus, #earth.is-active {
	color:#73d216;
}
.square-instagram:hover, .square-instagram:focus{
	background:#FFFFFF;
}
.square-linkedin:hover, .square-linkedin:focus{
	background: #FFFFFF;	
}
.square:hover, .square:focus, .square {
	width: 35px;
	height: 35px;
	-moz-border-radius: 25%;
	-webkit-border-radius: 25%;
	border-radius: 25%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.map-circle:hover, .map-circle:focus, .active .map-circle{
	background: #2072C9;
}
.circle:hover, .circle:focus, .circle .is-active {
	width: 35px;
	height: 35px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
